.slick-prev {
  @apply flex justify-center items-center rounded-full overflow-hidden;
  left: 4% !important;
  z-index: 1;
  scale: 3;
}

.slick-next {
  @apply flex justify-center items-center bg-transparent;
  right: 4% !important;
  top: 17%;
  z-index: 1;
  scale: 3;
  margin: auto;
}

.slick-prev:before,
.slick-next:before {
  color: brown;
  margin: auto;
}

/* Custom styles for the dots */
.custom-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-dots li {
  display: inline-block;
  margin: 0 5px;
}

.custom-dots li button {
  width: min(5dvw, 40px);
  height: 5px;
  border-radius: 10%;
  background-color: rgb(206, 206, 206);
  border: none;
  cursor: pointer;
  font-size: 0;
}

.custom-dots li.slick-active button {
  background-color: rgb(134, 134, 134);
}
