/*
follow: two-step sliding cover; comes in and takes the full width and then leaves from the opposite side.
no-follow- a simple one-step sliding cover, revealing the content beneath. 
 */
.cover-layer-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}

.cover-layer {
  width: inherit;
  height: inherit;
  background-color: #fff;
}

.cover-layer.active.follow {
  animation: below-follow 0.8s 0s forwards;
}

.cover-layer.active.no-follow {
  background-color: unset;
}

.cover-layer.active::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  height: 100%;
}

.cover-layer.active.to-left.follow::after {
  animation: to-left-follow 0.8s 0s ease-out forwards;
}

.cover-layer.active.to-right.follow::after {
  animation: to-right-follow 0.8s 0s ease-out forwards;
}

.cover-layer.active.to-bottom.follow::after {
  animation: to-bottom-follow 0.8s 0s ease-out forwards;
}

.cover-layer.active.to-top.follow::after {
  animation: to-top-follow 0.8s 0s ease-out forwards;
}

.cover-layer.active.to-left::after {
  animation: to-left 0.6s 0s ease-out forwards;
}

.cover-layer.active.to-right::after {
  animation: to-right 0.6s 0s ease-out forwards;
}

.cover-layer.active.to-bottom::after {
  animation: to-bottom 0.6s 0s ease-out forwards;
}

.cover-layer.active.to-top::after {
  animation: to-top 0.6s 0s ease-out forwards;
}

@keyframes to-left-follow {
  0% {
    background-color: #e2b96b;
    transform: translateX(100%);
  }
  35% {
    transform: translateX(0);
  }
  65% {
    transform: translateX(0);
  }
  100% {
    background-color: #e2b96b;
    transform: translateX(-100%);
  }
}
@keyframes to-right-follow {
  0% {
    background-color: #e2b96b;
    transform: translateX(-100%);
  }
  35% {
    transform: translateX(0);
  }
  65% {
    transform: translateX(0);
  }
  100% {
    background-color: #e2b96b;
    transform: translateX(100%);
  }
}
@keyframes to-bottom-follow {
  0% {
    background-color: #e2b96b;
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(0);
  }
  100% {
    background-color: #e2b96b;
    transform: translateY(100%);
  }
}
@keyframes to-top-follow {
  0% {
    background-color: #e2b96b;
    transform: translateY(100%);
  }
  35% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(0);
  }
  100% {
    background-color: #e2b96b;
    transform: translateY(-100%);
  }
}
@keyframes to-left {
  from {
    background-color: #fff;
    transform: translateX(0);
  }
  to {
    background-color: #fff;
    transform: translateX(-100%);
  }
}
@keyframes to-right {
  from {
    background-color: #fff;
    transform: translateX(0);
  }
  to {
    background-color: #fff;
    transform: translateX(100%);
  }
}
@keyframes to-bottom {
  from {
    background-color: #fff;
    transform: translateY(0);
  }
  to {
    background-color: #fff;
    transform: translateY(100%);
  }
}
@keyframes to-top {
  from {
    background-color: #fff;
    transform: translateY(0);
  }
  to {
    background-color: #fff;
    transform: translateY(-100%);
  }
}
@keyframes below-follow {
  0% {
    background-color: #fff;
  }
  35% {
    background-color: #fff;
  }
  65% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}/*# sourceMappingURL=cover-layer-animation.css.map */