.blog-article {
  margin-inline: 1em;
}

article h2 {
  font-size: 1.6rem !important;
  margin-block: 2em;
  text-align: center;
}

article h3 {
  margin-block: 1em;
  font-size: 1.35rem;
}

article h4 {
  font-size: 1.2rem;
}

article section {
  margin-block: 2em;
}

article p {
  margin-block: 1em;
}

article ul {
  list-style: disc inside;
}

article li {
  font-size: 1rem;
  font-weight: bold;
  margin-block: 0.5em;
}

article li > p {
  display: inline;
  font-size: 1rem;
  font-weight: normal;
}
